@tailwind base;
@tailwind components;
@tailwind utilities;


  #root {
    overflow-y: scroll;
    scrollbar-width: none; /* For Firefox */
    height: 100vh;
  }
  
  #root::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Edge */
  }